<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domashno 8 - rezultati</title>

    <style>
        body{
            background-color: rgb(246, 249, 180);
        }

        h1{
            color: red;
            font-style: italic;
        }
        span{
            color: blue;
        }

        p{
            font-size: large;
            font-style: oblique;
            color: rgb(5, 197, 197);
        }
        
    </style>
</head>
<body>
    <h1>{{ime}}</h1>
    <h2>Rezultatot e <span>{{data}}</span></h2>
    <p>{{objasnuvanje}}</p>
</body>
</html>